/* RESET */
* {
  box-sizing: border-box;
}

/* BODY */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
  color: #000;
  overflow-x: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 16px;
}

/* HEADER */
header {
  background: #111;
  color: #fff;
  height: 3cm;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}


header h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
  flex: 1;
}

.menu {
  cursor: pointer;
  font-size: 2rem;
}

.menu-links {
  display: none; /* oculto por padrão */
  position: absolute;
  top: 60px; /* ajusta conforme header */
  left: 0;
  background: #fff;
  width: 200px;
  border: 1px solid #ccc;
  z-index: 1000;
}

.menu-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-links li {
  border-bottom: 1px solid #eee;
}

.menu-links li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #111;
}

.menu-links li a:hover {
  background-color: #f0f0f0;
}
.menu {
  font-size: 26px;
  cursor: pointer;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #555;
}

/* MENU LATERAL */
#side-menu {
  position: fixed;
  top: 0;
  left: -260px;
  width: 250px;
  height: 100%;
  background: #111;
  padding-top: 80px;
  transition: 0.3s;
  z-index: 2000;
}

#side-menu a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}

#side-menu a:hover {
  background: #222;
}

/* BANNERS / ADS */
.ad,
.banner {
  background: #f2f2f2;
  height: 90px;
  margin: 25px auto;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
}

/* RODAPÉ */
footer {
  background: #111;
  color: #fff;
  padding: 30px 15px;
  text-align: center;
  font-size: 14px;
}

/* MOBILE */
@media (max-width: 600px) {
  header h1 {
    font-size: 20px;
  }
}